@model mf_frontend.Models.tb_vacancy
@{
    ViewBag.Title = "О вакансии";
}
<div style="margin:auto; width:85%; color:black">
    <h2 style="color:black; margin:0; font-size:20px;font-weight:400; margin-bottom:10px;">@Model.title</h2>
    <div class="text-body">
        @Html.Raw(Model.text)
    </div>
    <script>
        $('.text-body').html(function (i, h) {
            return h.replace(/&nbsp;/g, '');
        });
    </script>
</div>
